.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 54vh;
    height: fit-content;
    padding: 1rem;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.check__circle {
 color: #067d62;
}

.order__eligible{
  font-size: 1rem;
}

.free_delivery a {
 text-decoration: none;
 color: #067d62;
}

.subtotal__item {
    font-size: 1.2rem;
    font-weight: 600;
}
.subtotal button {
    background: #f7ca00;
    border-radius: 2px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}